<div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tipos <small></small></h2>
                <div class="clearfix"><a  ng-click="new(null,'material_type_form.html','ModelNewTypeCtrl')" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></a></div>

            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripción</th>

                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="type in types">
                        <th>{{ $index +1 }}</th>
                        <td>{{ type.name }}</td>
                        <td>{{ type.descript }}</td>

                        <td>
                            <a  class="btn btn-sm btn-success" ng-click="new(type,'material_type_form.html','ModelNewTypeCtrl')" ><i class="fa fa-edit"></i> </a>
                            <a  class="btn btn-sm btn-warning" ng-click="deleteTipoMaterial(type.id)" ><i class="fa fa-remove"></i> </a>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


