<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Perfiles <small></small></h2>
                <div class="clearfix"><a  ng-click="new(null,'sitio_form.html','ModelNewSiteCtrl')" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></a></div>

            </div>


            <div class="x_content">
                <h3 ng-if="perfiles.length==0"> Perfiles</h3>

                <table class="table" ng-if="perfiles.length>0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="perfil in perfiles">
                        <td class="col-md-1">{{ $index +1 }}</td>
                        <td class="col-md-2">{{ perfil.name }} </td>
                        <td class="col-md-2">{{ perfil.descript }} </td>
                        <td class="col-md-3">
                                <a  class="btn btn-sm btn-success" ng-click="new(perfil)" ><i class="fa fa-edit"></i> </a>
                                <a  class="btn btn-sm btn-warning" ng-click="deletePerfil(perfil.id)" ><i class="fa fa-remove"></i> </a>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


