<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">
                    <div class="col-lg-2"><h2>Materiales <small></small></h2></div>
                    <div class="col-lg-9">
                        <div class="form-group ">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group col-lg-8 pull-right">
                                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <input type="text" ng-model="filtromaterial"class="form-control" id="exampleInputAmount" placeholder=" ID / Descripcion / Nombre / Origen / Ubicación">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">    <div class="clearfix"><a  ng-click="new(null,'material_form.html','ModelNewMaterialCtrl')" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></a></div>
                    </div>
                </div>


            </div>
            <div class="x_content" style="height: 600px;min-height: 600px;overflow: auto">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Referencia</th>
                        <th>Origen</th>
                        <th>Ubicación</th>
                        <th>Umbral</th>
                        <th>Tipo</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="material in materiales | filter:filtromaterial">
                        <th>{{ $index +1 }}</th>
                        <td>{{ material.idCustom }}</td>
                        <td>{{ material.name }}</td>
                        <td>{{ material.descript }}</td>
                        <td>
                            <button class="btn btn-sm" ng-style="{'background-color':material.referencia.ref1}"></button>
                            <button class="btn btn-sm" ng-style="{'background-color':material.referencia.ref2}"></button>
                        </td>
                        <td>{{ material.origen }}</td>
                        <td>{{ material.ubicacion }}</td>
                        <td>{{ material.umbralmin }}</td>

                        <td>{{ material.type }}</td>
                        <td>
                            <a  class="btn btn-sm btn-success" ng-click="new(material,'material_form.html','ModelNewMaterialCtrl')" ><i class="fa fa-edit"></i> </a>
                            <a  class="btn btn-sm btn-warning" ng-click="deleteMaterial(material.id)" ><i class="fa fa-remove"></i> </a>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


