<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Mis Tareas <small></small></h2>
                <div class="clearfix"><a  ng-click="new(null,'tareas_form.html','ModelTareaCtrl')" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></a></div>

            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Inicio</th>
                        <th>Estado</th>
                        <th>Técnico</th>

                        <th>Sitio</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tarea in tareas">
                        <th>{{ $index +1 }}</th>
                        <td>{{ tarea.name }}</td>
                        <td>{{ tarea.inicio | date:'medium'  }}</td>
                        <td ng-if="tarea.estado==0">Pendiente</td>
                        <td ng-if="tarea.estado==1">En Proceso</td>
                        <td ng-if="tarea.estado==2">Finalizada</td>
                        <td>{{ tarea.tecnico }}</td>
                        <td>{{ tarea.sitio }}</td>

                        <td>
                            <a  class="btn btn-sm btn-success" ng-click="setEstado(tarea.id,1)"><i class="fa fa-play" aria-hidden="true" alt="Comenzar Tarea"></i></a>
                            <a  class="btn btn-sm btn-success"><i class="fa fa-pencil-square-o" alt="Agregar Nota" aria-hidden="true"></i></a>
                            <a  class="btn btn-sm btn-success" ng-click="setEstado(tarea.id,2)"><i class="fa fa-stop" aria-hidden="true" alt="Terminar Tarea"></i></a>
                        </td>


                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


